# GNU Emacs temporary files
\#*
.\#*
*~

.php_cs_cache
.phpstan_cache
.vagrant
.vscode/*
/local
/downloads
/Gruntfile.local.js
/solr/vendor
/vendor
ChangeLog
TAGS
composer.phar
import/solrmarc.log*
lessphp_*.list
module/VuFind/tests/.phpunit.result.cache
node_modules
public/swagger-ui

local/cache
local/harvest/**
local/import/translation_maps
local/chown_dirs.sh

composer.json

.php-cs-fixer.cache


.git_imcode/*
install_composer.sh
vufind-8.0.4_vs_lots-8.0.4.diff
vufind_lots-8.0

